{% extends "layout_personen.html" %}
{% block content %}
<main role="main" class="container-fluid">
<div class="row">

<div class="col-md">
        <cart class="media content-section">
                <div class="object-metadata">
                    <a> Keine Zugriffsberechtigung. </a>
                </div>
        </cart>
</div>

</div>
</main>

{% endblock content %}