{% extends "layout_personen.html" %}
{% block content %}
<main role="main" class="container-fluid">
<div class="row">

<div class="col-md">
        <personen class="media content-section">
                <div class="object-metadata">
                    <a> Listen-Id: {{ person_liste.id }} </a>
                    {% if person_liste.status == "closed" %}
                    <h1>
                        <a id="Status" class="mr-2">
                            Liste geschlossen.
                        </a>
                    </h1>
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" >Id</th>
                                <th scope="col" >Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in person_liste.personen %}
                                <tr>
                                    <th scope="row">{{ item['id'] }}</th>
                                    <td scope="row" id="pos_name_{{ item.id }}">{{ item.name }}</td>
                                    <td scope="row" id="pos_nr_{{ item.id }}" ><a style="float:right">{{ 1 }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </personen>
</div>

</div>
</main>

{% endblock content %}